.authorization__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding-left: 5px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.authorization__link:hover {
  opacity: 0.6;
}