.card__btn-delete {
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/card-trash.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.card__btn-delete:hover {
  opacity: 0.6;
  transition: all 1s;
}