.header__email {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 142px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #FFF;
  margin: auto;
  margin-top: 12px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  max-width: 270px;
}

@media screen and (min-width: 425px) {
  .header__email {
    margin-right: 24px;
    margin-bottom: 15px;
  }
}