.header__content {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 425px) {
  .header__content {
    flex-direction: row;
    border-bottom: 0;
    display: flex;
  }
}