.authorization__password_input {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background-color: transparent;
  min-width: 260px;
  margin: 0;
  padding: 0 0 12px 0;
  border-style: none;
  border-bottom: 2px solid #CCC;
  outline: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.authorization__password_input::placeholder {
  color: #CCC;
}

@media screen and (min-width: 475px) {
  .authorization__password_input  {
    min-width: 358px;
  }
}